store-dir = ${HOME}/noelle/.promopages-frontend-tmp/pnpm-store
state-dir = ${HOME}/noelle/.promopages-frontend-tmp/pnpm-state
cache-dir = ${HOME}/noelle/.promopages-frontend-tmp/pnpm-cache
virtual-store-dir = ${HOME}/noelle/.promopages-frontend-tmp/pnpm-virtual-store
